/* whole page */

body {
  text-align:center; 
  background-image:url("https://i.imgur.com/LkJuxOh.jpg?2");
  /*background-image:url("https://i.imgur.com/zqYz8hV.jpg");*/
}

.container{
  background-color:#C00000;
  border-radius:25px;
  margin-left:250px;
  margin-right:250px;
  margin-top:20px;
  margin-bottom:20px;
  padding:20px;
}

#container2048{
  min-width:778px;
  max-width:778px;
  min-height:682px;
  max-height:682px;
}

#containerIndex{
  min-width:778px;
  max-width:778px;
  min-height:590px;
  max-height:590px;
}

#containerHobbies{
  min-width:778px;
  max-width:778px;
  min-height:1601px;
  max-height:1601px;
}

#containerAboutMe{
  min-width:778px;
  max-width:778px;
  min-height:2262px;
  max-height:2262px;
}

#containerProjects{
  min-width:778px;
  max-width:778px;
  min-height:336px;
  max-height:336px;
}

#containerFlashcard{
  min-width:778px;
  max-width:778px;
  min-height:383px;
  min-height:383px;
}

#containerGallery{
  min-width:778px;
  max-width:778px;
  min-height:477px;
  max-height:477px;
}

#containerTicktactoe{
  min-width:778px;
  max-width:778px;
  min-height:625px;
  max-height:625px;
}

#navigation{
  background-color:darkgray;
  border-radius:25px;
  margin:2px;
  padding:15px;
  min-width:744px;
  max-width:744px;
  min-height:22px;
  max-height:22px;
}

.list { 
  text-align:center; 
  list-style-position:inside;
}

/* About Me/ Theme Change Buttons */

#themeChange{
  margin:20px;
  padding:10px;
}

#themeChange #bred{
  background-color: red;
  border-width: 6px;
  border-bottom-color: black;
  border-right-color: black;
  border-top-color:darkgray;
  border-left-color:darkgray;
  border-radius: 10px;
  block-size: 45px;
  font-size: 12px;
}

#themeChange #bwhite{
  background-color: whitesmoke;
  border-width: 6px;
  border-bottom-color: #40e0d0;
  border-right-color: #40e0d0;
  border-top-color: lightblue;
  border-left-color:lightblue;
  border-radius: 10px;
  block-size: 45px;
  font-size: 12px;
}

/* ticktacktoe */
.box{
  border-style:solid;
  width:100px;
  height:100px;
  float:left;
  text-align:center;
  background-color:#d2f9f5;
  vertical-align:middle;
  line-height:100px;
}

#players{
  float:left;
}

#board{
  float:right;
  width:350px;
  height:350pc;
}

#tictacktoe{
  border-style:solid;
  width:600px;
  height:400px;
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  margin-botton:25px;
  margin-top:25px;
  border-radius:25px;
  background-color:orange;
}

/* gallery */

#gallery img{
  height: 350px;
}

#gallery input[type=button]{
  background-color:orange;
  font-size:bolder;
  padding:7px;
  margin:4px;
  border-radius:15px;
}

/* 2048 */

#wholeGame {
  background-color:#65e6d9;
  padding:15px;
  border-radius:15px;
  min-width:745px;
  max-width:745px;
  min-height:596px;
  max-height:596px;
}

.threeBars {
  float: left;
  padding-bottom: 10px;
  min-width: 246px;
  max-width: 246px;
  min-height:141px;
  max-height:141px;
}

#scoreBoard {
  background-color:#ffd280;
  border:3px solid;
  border-radius:25px;
  min-width:738px;
  max-width:738px;
  min-height:140px;
  max-height:140px;
}

.score {
  height:50px;
  width:100px;
}

.best {
  height:50px;
  width:100px;
}

#board2048 {
  margin-left:auto;
  margin-right:auto;
  min-width:425px;
  max-width:425px;
  min-height:435px;
  max-height:435px;
}

.scores{
  float:right;
  margin:20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#bbada0;
  border-radius:7px;
  min-width:35px;
  max-width:35px;
  min-height:36px;
  max-height:36px;
}

#game2048{
  min-width:424px;
  max-width:424px;
  min-height:424px;
  max-height:424px;
}

#keybox{
  width:400; 
  height:25;
}








