.box{
  border-style:solid;
  width:100px;
  height:100px;
  float:left;
  text-align:center;
  background-color:#d2f9f5;
  vertical-align:middle;
  line-height:100px;
}

#players{
  float:left;
}

#board{
  float:right;
  width:350px;
  height:350pc;
}

#game{
  border-style:solid;
  width:600px;
  height:400px;
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  margin-botton:25px;
  margin-top:25px;
  border-radius:25px;
  background-color:orange;
}

body {
  text-align:center; 
  background-image:url("http://i.imgur.com/hgVJGW5.png");
}

.list { 
  text-align:center; 
  list-style-position:inside;
}

#container{
  background-color:#40e0d0;
  border-radius:25px;
  margin-left:250px;
  margin-right:250px;
  margin-top:20px;
  margin-bottom:20px;
  padding:20px; 
}

#navigation{
  background-color:#bfbfbf;
  border-radius:25px;
  margin:2px;
  padding:15px;
}

#gallery img{
  height: 350px;
}

#gallery input[type=button]{
  background-color: orange;
  font-size:bolder;
  padding:7px;
  margin:4px;
  border-radius:15px;
}