body {
  text-align:center; 
  background-image:url("http://i.imgur.com/hgVJGW5.png");
}
.list { 
  text-align:center; 
  list-style-position:inside;
}
#container{
  background-color:#40e0d0;
  border-radius:25px;
  margin-left:250px;
  margin-right:250px;
  margin-top:20px;
  margin-bottom:20px;
  padding:20px; 
}
#navigation{
  background-color:#bfbfbf;
  border-radius:25px;
  margin:2px;
  padding:15px;
}

#gallery img{
  height: 400px;
  max-width: 90%;
}

#gallery input[type=button]{
  background-color: orange;
  font-size:bolder;
  padding:7px;
  margin:4px;
  border-radius:15px;
}